@mixin recipeconfig {
    width: 300px;
    height: 450px;
}

@mixin anchorconfig {
    background: white;
    color: black;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    transition: 0.3s;

    &:hover {
        background-color: $orange;
    }
}

@mixin imagedetails {
    display: none;
    position: absolute;
    bottom: 22%;
    right: 3%;
    left: 0%;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
}

@mixin secondary-menu-img {
    border-radius: 15%;
    width: 95%; 
    height: 243px;  
}