@mixin recipeconfig ($margin-right, $margin-left) {
    width: 50%;
    margin-right: $margin-right;
    margin-left: $margin-left;
}

@mixin anchorconfig {
    background: white;
    color: black;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    transition: 0.3s;

    &:hover {
        background-color: $orange;
    }
}

@mixin imagedetails {
    position: absolute;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
    transition: all 0.5s ease-in-out;
    bottom: 50%;
    height: 150px;
    opacity: 0;
}

@mixin secondary-menu-img {
    border-radius: 15%;
    width: 100%; 
    margin-top: 20px;  
}