@import 'components/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

header {
  width: 40%;
  margin: 0 auto;
  text-align: center;

  @media only screen and (max-width: 768px) {
    width: 90%;
  }

  .title {
    font-family: "Indie Flower", cursive;
    font-size: 35px;
    display: block;
    color: $orange;
    padding: 5px;
    margin: 10px 0;

    @media only screen and (max-width: 768px) {
      font-size: 50px;
    }
  }
}

.desktop-menu {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
    position: relative;

    ul {

      li {
        margin: 0;
        background: $orange;
        display: block;
        padding: 5px 30vw;
        margin: 20px auto;
        border-radius: 9px;

        .fas.fa-bars {
          margin-right: 20px;
        }

        a {
          color: white;
          font-size: 15px;
          transition: 0.5s;

          &:hover {
            color: black;
          }
        }

      }
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      margin: 0 25px 10px 0;

      a {
        color: $grey;
        font-size: 13px;
        transition: 0.3s;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}


.meal-menu {
  .fas.fa-caret-down {
    padding: 0 0 0 10px;
  }

  &:hover .meal-list {
    display: block;
    z-index: 1;
  }
}

.meal-list {
  display: none;
  position: absolute;
  width: 75px;
  color: $grey;
  background-color: #f8f8f8;
  text-align: left;
  padding: 5px;

  .meal-item:hover {
    color: $orange;
  }
}

.banner img {
  width: 100%;
}

.path {
  margin-left: 10%;

  @media only screen and (max-width: 768px) {
    margin-left: 5%;
  }

  ul {
    display: flex;

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    li {
      margin-right: 10px;
      margin-top: 10px;
      font-size: 13px;

      @media only screen and (max-width: 768px) {
        font-size: 20px;
      }

      a {
        text-decoration: none;
        color: black;

        span {
          color: $grey;
        }
      }
    }
  }

  ul li .fas.fa-home {
    margin: 0 8px 0 0;
  }
}

.container {
  width: 50%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

//* PARTE DE MARINA *//
@media only screen and (max-width: 768px) {
  .container{
  width:70%;}
}

.social-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-150%, 10%);
   @media only screen and (max-width: 768px) {

      display: flex;
      flex-direction: row;
      position: initial;
      transform: none; }
    

    .social-bar .icons i{
      padding: 2px;
    }

  .icons{
    margin:auto;
  }

  .icons i {
    font-size: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    width: 2em;
    height: 1.9em;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
  }
}

#facebook {
  background-color: #3b5998;
  color: white;
}

#twitter {
  background-color: #00b2ff;
  color: white;
}

#google {
  background-color: #ea4335;
  color: white;
}

#ig {
  background-color: #a49482;
  color: white;
}

#pin {
  background-color: #c8232c;
  color: white;
}

.article-image {
  border-radius: 10%;
  width: 100%;
}

.epigraph {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
      display: inline-flex;
    }
  }

  .epigraph-text {
    display: flex;
    flex-wrap: wrap;

    p {
      color: $grey;
      font-size: 12px;
    }
  }


.social-post {
  font-size: 12px;
  padding: 0 0 18px 0;
  color: $grey;
  margin: 0 3em;
  @media only screen and (max-width: 768px) {
  margin: 0 1em;
  }
}


.recipe {
  h1 {
    font-size: 2em;
    font-weight:bold;
    color: black;
    text-align: left;
    margin: 1em 0;
  }

  .quote {
    border-left: 1px solid red;
    padding: 0 0 0 5%;
    margin: 3em 0;
    display: flex;
    flex-direction: column;

    .quote-text {
      color: black;
      font-size: 15px;
      line-height: 1em;
      margin: 0 0 2em 0;
    }

    .author {
      color: $grey;
    }
  }

  .recipe-steps {
    color: $grey;
    font-size: 14px;
  }
}

footer {
  font-weight:bold;
  text-align: center;
  padding: 0 0 70px 0;
  width: 90%;
  margin: 0 auto;
}

.social-media-footer {
  padding-bottom: 30px;
  border-bottom: 1px solid #e4dfe0;
  @media only screen and (max-width: 768px) {
    border-bottom:none;
  }

  li {
    display: inline;
    margin-right: 7%;
    margin-left: 2%;

    @media only screen and (max-width: 768px) {
      .icon-label{
        display:none;
      }
    }

    &:hover {
      color: black;
    }
  }

  i {
    color: $grey;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $grey;
    font-size: 12px;

    &:hover {
      color: black;

      i {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .go-to{
    display:block;
    border-top:1px solid #999999;
    position:relative;
    width:75%;
    height: auto;
    margin-left:10%;
    bottom: 50px;
    }
    
    .fa-arrow-up{
    background-color: #dd6b4d;
    color: white;
    position: absolute;
    font-size: 25px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    left: 50%;
    bottom: -18px;
    text-align: center;
    padding-left: 5px;
    border-right-width: 5px;
    padding-right: 5px;
  }
}