@import 'components/variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

header {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    .title {
        font-family: "Indie Flower", cursive;
        font-size: 35px;
        display: block;
        color: $orange;
        padding: 5px;
        margin: 10px 0;
    }
}

.mobile-menu {
    display: none;
}

nav {
    ul {
        li {
            display: inline-block;
            margin: 0 25px 10px 0;

            a {
                color: $grey;
                font-size: 13px;
                transition: 0.3s;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}


.meal-menu {
    .fas.fa-caret-down {
        padding: 0 0 0 10px;
    }

    &:hover .meal-list {
        display: block;
        z-index: 1;
    }
}

.meal-list {
    display: none;
    position: absolute;
    width: 75px;
    color: $grey;
    background-color: #f8f8f8;
    text-align: left;
    padding: 5px;

    .meal-item:hover {
        color: $orange;
    }
}

.banner img {
    width: 100%;
}

.path {
    margin-left: 10%;

    ul {
        display: flex;

        li {
            margin-right: 10px;
            margin-top: 10px;
            font-size: 13px;

            a {
                text-decoration: none;
                color: black;

                span {
                    color: $grey;
                }
            }
        }
    }

    ul li .fas.fa-home {
        margin: 0 8px 0 0;
    }
}

.container {
    width: 60%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
}

//* MOBILE *//

@media screen and (max-width: 768px) {
    header {
        width: 90%;

        .title {
            font-size: 50px;
        }
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: relative;

        ul {

            li {
                margin: 0;
            }

            li span.main {
                background: $orange;
                display: block;
                padding: 5px 30vw;
                margin: 20px auto;
                border-radius: 9px;

                .fas.fa-bars {
                    margin-right: 20px;
                }

                a {
                    color: white;
                    font-size: 15px;
                    transition: 0.5s;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

    .mobile-menu-list {
        display: none;
        position: absolute;
        width: 100px;
        background-color: $orange;
        padding: 15px;
        top: 72%;
        left: 34%;

        a {
            color: white;
            font-size: 15px;
            transition: 0.5s;
            margin: 10px;

            &:hover {
                color: black;
            }
        }
    }

    .main-1:hover .mobile-menu-list {
        display: block;
    }

    .path {
        margin-left: 5%;

        ul {
            flex-wrap: wrap;

            li {
                font-size: 20px;
            }
        }
    }
}