@import 'components/variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

header {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    .title {
        font-family: "Indie Flower", cursive;
        font-size: 35px;
        display: block;
        color: $orange;
        padding: 5px;
        margin: 10px 0;
    }
}

nav {
    ul {
        li {
            display: inline-block;
            margin: 0 25px 10px 0;

            a {
                color: $grey;
                font-size: 13px;
                transition: 0.3s;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}


.meal-menu {
    .fas.fa-caret-down {
        padding: 0 0 0 10px;
    }

    &:hover .meal-list {
        display: block;
        z-index: 1;
    }
}

.meal-list {
    display: none;
    position: absolute;
    width: 75px;
    color: $grey;
    background-color: #f8f8f8;
    text-align: left;
    padding: 5px;

    .meal-item:hover {
        color: $orange;
    }
}

.banner img {
    width: 100%;
}

.path {
    margin-left: 10%;
    ul {
        display: flex;
        li {
            margin-right: 10px;
            margin-top: 10px;
            font-size: 13px;
            a {
                text-decoration: none;
                color: black;
                span {
                    color: $grey;
                }
            }
        }
    }

    ul li .fas.fa-home {
        margin: 0 8px 0 0;
    }
}

.container {
    width: 50%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.social-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-150%, 10%);
  }
  
  .icons i {
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    width: 2em;
    height: 1.9em;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
  }
  
  #facebook {
    background-color: #3b5998;
    color: white;
  }
  
  #twitter {
    background-color: #00b2ff;
    color: white;
  }
  
  #google {
    background-color: #ea4335;
    color: white;
  }
  
  #ig {
    background-color: #a49482;
    color: white;
  }
  
  #pin {
    background-color: #c8232c;
    color: white;
  }

  .epigraph {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .epigraph-text {
    display: flex;
    flex-wrap: wrap;
    p {
      color: $grey;
      font-weight: bold;
      font-size: 12px;
    }
  }
  
  .social-post {
    font-size: 12px;
    padding: 0 0 18px 0;
    color: $grey;
    font-weight: bold;
    margin: 0 3em;
  }
  
  .recipe h1 {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: left;
    margin: 1em 0;
  }
  
  .quote {
    border-left: 1px solid red;
    padding: 0 0 0 5%;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
  }
  
  .quote-text {
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0 2em 0;
  }
  
  .author {
    color: $grey;
    font-weight: bold;
  }
  
  .recipe-steps {
    color: $grey;
    font-weight: bold;
    font-size: 14px;
  }

  footer {
    text-align: center;
  }
  
  .footer-container {
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .social-media-footer {
    li {
      display: inline;
      margin-right: 7%;
      margin-left: 2%;
    }
    i {
      color: $grey;
    }
    a {
      text-decoration: none;
      color: $grey;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        color: black;
      }
    }
  }

