* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight:bold;
}

header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  header {
    width: 90%;
  }
}
header .title {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  display: block;
  color: #fa7855;
  padding: 5px;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  header .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: relative;
  }
  .mobile-menu ul li {
    margin: 0;
    background: #fa7855;
    display: block;
    padding: 5px 30vw;
    margin: 20px auto;
    border-radius: 9px;
  }
  .mobile-menu ul li .fas.fa-bars {
    margin-right: 20px;
  }
  .mobile-menu ul li a {
    color: white;
    font-size: 15px;
    transition: 0.5s;
  }
  .mobile-menu ul li a:hover {
    color: black;
  }
}

nav ul li {
  display: inline-block;
  margin: 0 25px 10px 0;
}
nav ul li a {
  color: #9b9089;
  font-size: 13px;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #fa7855;
}

.meal-menu .fas.fa-caret-down {
  padding: 0 0 0 10px;
}
.meal-menu:hover .meal-list {
  display: block;
  z-index: 1;
}

.meal-list {
  display: none;
  position: absolute;
  width: 75px;
  color: #9b9089;
  background-color: #f8f8f8;
  text-align: left;
  padding: 5px;
}
.meal-list .meal-item:hover {
  color: #fa7855;
}

.banner img {
  width: 100%;
}

.path {
  margin-left: 10%;
}
@media only screen and (max-width: 768px) {
  .path {
    margin-left: 5%;
  }
}
.path ul {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .path ul {
    flex-wrap: wrap;
  }
}
.path ul li {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .path ul li {
    font-size: 20px;
  }
}
.path ul li a {
  text-decoration: none;
  color: black;
}
.path ul li a span {
  color: #9b9089;
}
.path ul li .fas.fa-home {
  margin: 0 8px 0 0;
}

.container {
  width: 50%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.social-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-150%, 10%);
}

@media only screen and (max-width: 768px) {
  .social-bar{
    display: flex;
    flex-direction: row;
    position: initial;
    transform: none;}
  
.social-bar .icons i{
  padding: 2px;}
}

.social-bar .icons i {
  font-size: 20px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  width: 2em;
  height: 1.9em;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
}

#facebook {
  background-color: #3b5998;
  color: white;
}

#twitter {
  background-color: #00b2ff;
  color: white;
}

#google {
  background-color: #ea4335;
  color: white;
}

#ig {
  background-color: #a49482;
  color: white;
}

#pin {
  background-color: #c8232c;
  color: white;
}

.article-image {
  border-radius: 10%;
  width: 100%;
}

.epigraph {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.epigraph .epigraph-text {
  display: flex;
  flex-wrap: wrap;
}
.epigraph .epigraph-text p {
  color: #9b9089;
  font-size: 12px;
}

.social-post {
  font-size: 12px;
  padding: 0 0 18px 0;
  color: #9b9089;
  margin: 0 3em;
}

.recipe h1 {
  font-size: 2em;
  color: black;
  text-align: left;
  margin: 1em 0;
}
.recipe .quote {
  border-left: 1px solid red;
  padding: 0 0 0 5%;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
}
.recipe .quote .quote-text {
  color: black;
  font-size: 15px;
  line-height: 1em;
  margin: 0 0 2em 0;
}
.recipe .quote .author {
  color: #9b9089;
}
.recipe .recipe-steps {
  color: #9b9089;
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 0 0 70px 0;
  width: 90%;
  margin: 0 auto;
}

.social-media-footer {
  padding-bottom: 30px;
  border-bottom: 1px solid #e4dfe0;
}
.social-media-footer li {
  display: inline;
  margin-right: 7%;
  margin-left: 2%;
}

@media only screen and (max-width: 768px) {
  .icon-label{
    display:none;
  }
}

.social-media-footer li:hover {
  color: black;
}
.social-media-footer i {
  color: #9b9089;
  margin-right: 10px;
}
.social-media-footer a {
  text-decoration: none;
  color: #9b9089;
  font-size: 12px;
}
.social-media-footer a:hover {
  color: black;
}
.social-media-footer a:hover i {
  color: black;

}


@media only screen and (max-width: 768px) {
  .go-to{
    display:block;
    border-top:1px solid #999999;
    position:relative;
    width:75%;
    height: auto;
    margin-left:10%;
    bottom: 50px;
    }
    
    .fa-arrow-up{
    background-color: #dd6b4d;
    color: white;
    position: absolute;
    font-size: 25px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    left: 50%;
    bottom: -18px;
    text-align: center;
    padding-left: 5px;
    border-right-width: 5px;
    padding-right: 5px;
  }

 

  
}