@import 'components/mixins';
@import 'components/variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

header {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    .title {
        font-family: "Indie Flower", cursive;
        font-size: 35px;
        display: block;
        color: $orange;
        padding: 5px;
        margin: 10px 0;
    }
}

nav {

    .mobile-menu {
        display: none;
    }

    ul {
        li {
            display: inline-block;
            margin: 0 25px 10px 0;

            a {
                color: $grey;
                font-size: 13px;
                transition: 0.3s;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}


.meal-menu {
    .fas.fa-caret-down {
        padding: 0 0 0 10px;
    }

    &:hover .meal-list {
        display: block;
        z-index: 1;
    }
}

.meal-list {
    display: none;
    position: absolute;
    width: 75px;
    color: $grey;
    background-color: #f8f8f8;
    text-align: left;
    padding: 5px;

    .meal-item:hover {
        color: $orange;
    }
}

.carrousel {
    display: flex;
    justify-content: space-between;
}

.first-recipe {
    @include recipeconfig;

    .hover-info {
        position: relative;
    }

    img {
        width: 100%;
    }

    .img-1-details {
        @include imagedetails;

        .info {
            font-size: 10px;
            padding: 15px 0 15px 0;

            span {
                border-right: solid 1px white;
                padding-right: 10px;
                margin-right: 5px;
            }
        }
    }

    &:hover .img-1-details {
        display: block;
    }
}

.second-recipe {
    @include recipeconfig;

    .hover-info {
        position: relative;
    }

    img {
        width: 100%;
    }

    .img-2-details {
        @include imagedetails;

        .info {
            font-size: 10px;
            padding: 15px 0 15px 0;

            span {
                border-right: solid 1px white;
                padding-right: 10px;
                margin-right: 5px;
            }
        }
    }

    &:hover .img-2-details {
        display: block;
    }
}

.third-recipe {
    @include recipeconfig;

    .hover-info {
        position: relative;
    }

    img {
        width: 100%;
    }

    .img-3-details {
        @include imagedetails;

        .info {
            font-size: 10px;
            padding: 15px 0 15px 0;

            span {
                border-right: solid 1px white;
                padding-right: 10px;
                margin-right: 5px;
            }
        }
    }

    &:hover .img-3-details {
        display: block;
    }
}

.fourth-recipe {
    @include recipeconfig;

    .hover-info {
        position: relative;
    }

    img {
        width: 100%;
    }

    .img-4-details {
        @include imagedetails;

        .info {
            font-size: 10px;
            padding: 15px 0 15px 0;

            span {
                border-right: solid 1px white;
                padding-right: 10px;
                margin-right: 5px;
            }
        }
    }

    &:hover .img-4-details {
        display: block;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
}

.secondary-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .meals {
        position: relative;
        width: 33%;

        .meals-hover:hover .meals-img {
            display: none;
        }
    }

    img {
        @include secondary-menu-img;
    }

    .meals-bttn {
        @include anchorconfig;
    }
}

.recipes {
    position: relative;
    width: 33%;

    .recipes-hover:hover .recipes-img {
        display: none;
    }

    img {
        @include secondary-menu-img;
    }

    .recipes-bttn {
        @include anchorconfig;
    }
}

.exotics {
    position: relative;
    width: 33%;

    .exotics-hover:hover .exotics-img {
        display: none;
    }

    img {
        @include secondary-menu-img;
    }

    .exotics-bttn {
        @include anchorconfig;
    }
}

//* FIN PARTE MARINA *//


//*MOBILE*//

@media screen and (max-width:768px) {

    header {
        width: 90%;

        .title {
            font-size: 50px;
        }
    }


    nav {
        .desktop-menu {
            display: none;
        }

        .mobile-menu-list {
            display: none;
            position: absolute;
            width: 100px;
            background-color: $orange;
            color: white;
            text-align: center;
            padding: 5px 0 5px 20px;
            margin: 0 23% 0 23%;
        }

        .mobile-menu {
            display: block;
        }

        .main {
            background: $orange;
            display: block;
            padding: 5px 0;
            width: 70%;
            margin: 20px auto;
            border-radius: 9px;
            color: white;
            font-size: 15px;
            transition: all 0.5s;

            .fas.fa-bars {
                margin-right: 20px;
            }

            &:hover {
                color: black;

                .mobile-menu-list {
                    display: block;
                    z-index: 1;
                }
            }
        }
    }

    .carrousel {
        height: 750px;

        .first-recipe {
            display: block;
            width: 75%;
            margin: 0 auto;

            .img-1-details {
                right: 1.8%;
            }
        }

        .second-recipe,
        .third-recipe,
        .fourth-recipe {
            display: none;
        }
    }

    .secondary-menu {
        display: flex;
        flex-direction: column;
        width: 90%;

        .meals {
            position: relative;
            width: 100%;

            .meals-hover:hover .meals-img {
                display: block;
            }
        }

        img {
            @include secondary-menu-img;
        }

        .meals-bttn {
            @include anchorconfig;
        }
    }

    .recipes {
        position: relative;
        width: 100%;

        .recipes-hover:hover .recipes-img {
            display: block;
        }

        img {
            @include secondary-menu-img;
        }

        .recipes-bttn {
            @include anchorconfig;
        }
    }

    .exotics {
        position: relative;
        width: 100%;

        .exotics-hover:hover .exotics-img {
            display: block;
        }

        img {
            @include secondary-menu-img;
        }

        .exotics-bttn {
            @include anchorconfig;
        }
    }

    .video {
        display: none;
    }
}