* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  header {
    width: 90%;
  }
}
header .title {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  display: block;
  color: #fa7855;
  padding: 5px;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  header .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: relative;
  }
  .mobile-menu ul li {
    margin: 0;
    background: #fa7855;
    display: block;
    padding: 5px 30vw;
    margin: 20px auto;
    border-radius: 9px;
  }
  .mobile-menu ul li .fas.fa-bars {
    margin-right: 20px;
  }
  .mobile-menu ul li a {
    color: white;
    font-size: 15px;
    transition: 0.5s;
  }
  .mobile-menu ul li a:hover {
    color: black;
  }
}

nav ul li {
  display: inline-block;
  margin: 0 25px 10px 0;
}
nav ul li a {
  color: #9b9089;
  font-size: 13px;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #fa7855;
}

.meal-menu .fas.fa-caret-down {
  padding: 0 0 0 10px;
}
.meal-menu:hover .meal-list {
  display: block;
  z-index: 1;
}

.meal-list {
  display: none;
  position: absolute;
  width: 75px;
  color: #9b9089;
  background-color: #f8f8f8;
  text-align: left;
  padding: 5px;
}
.meal-list .meal-item:hover {
  color: #fa7855;
}

.carrousel {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .carrousel .second-recipe,
  .carrousel .third-recipe,
  .carrousel .fourth-recipe {
    display: none;
  }
}

.first-recipe {
  width: 50%;
  margin-right: 15px;
  margin-left: 0;
}
@media only screen and (max-width: 768px) {
  .first-recipe {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
}
.first-recipe .hover-info {
  position: relative;
}
.first-recipe .hover-info:hover .img-1-details {
  bottom: 1%;
  opacity: 1;
}
.first-recipe img {
  width: 100%;
}
.first-recipe .img-1-details {
  position: absolute;
  background-color: rgba(239, 4, 4, 0.4);
  color: white;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  bottom: 50%;
  height: 150px;
  opacity: 0;
  left: 0%;
  right: 0%;
}
@media only screen and (max-width: 768px) {
  .first-recipe .img-1-details {
    right: 0%;
    left: 0%;
  }
}
.first-recipe .img-1-details .info {
  font-size: 10px;
  padding: 15px 0 15px 0;
}
.first-recipe .img-1-details .info span {
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 5px;
}

.second-recipe {
  width: 50%;
  margin-right: 15px;
  margin-left: 0;
}
.second-recipe .hover-info {
  position: relative;
}
.second-recipe .hover-info:hover .img-2-details {
  bottom: 1%;
  opacity: 1;
}
.second-recipe img {
  width: 100%;
}
.second-recipe .img-2-details {
  position: absolute;
  background-color: rgba(239, 4, 4, 0.4);
  color: white;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  bottom: 50%;
  height: 150px;
  opacity: 0;
  left: 0%;
  right: 0%;
}
.second-recipe .img-2-details .info {
  font-size: 10px;
  padding: 15px 0 15px 0;
}
.second-recipe .img-2-details .info span {
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 5px;
}

.third-recipe {
  width: 50%;
  margin-right: 0;
  margin-left: 0;
}
.third-recipe .hover-info {
  position: relative;
}
.third-recipe .hover-info:hover .img-3-details {
  bottom: 1%;
  opacity: 1;
}
.third-recipe img {
  width: 100%;
}
.third-recipe .img-3-details {
  position: absolute;
  background-color: rgba(239, 4, 4, 0.4);
  color: white;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  bottom: 50%;
  height: 150px;
  opacity: 0;
  left: 0%;
  right: 0%;
}
.third-recipe .img-3-details .info {
  font-size: 10px;
  padding: 15px 0 15px 0;
}
.third-recipe .img-3-details .info span {
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 5px;
}

.fourth-recipe {
  width: 50%;
  margin-right: 0;
  margin-left: 15px;
}
.fourth-recipe .hover-info {
  position: relative;
}
.fourth-recipe .hover-info:hover .img-4-details {
  bottom: 1%;
  opacity: 1;
}
.fourth-recipe img {
  width: 100%;
}
.fourth-recipe .img-4-details {
  position: absolute;
  background-color: rgba(239, 4, 4, 0.4);
  color: white;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  bottom: 50%;
  height: 150px;
  opacity: 0;
  left: 0%;
  right: 0%;
}
.fourth-recipe .img-4-details .info {
  font-size: 10px;
  padding: 15px 0 15px 0;
}
.fourth-recipe .img-4-details .info span {
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 5px;
}

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
}

.secondary-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .secondary-menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}
.secondary-menu .meals {
  position: relative;
  width: 33%;
}
@media only screen and (max-width: 768px) {
  .secondary-menu .meals {
    width: 100%;
  }
}
.secondary-menu .meals .meals-hover:hover .meals-img {
  display: none;
}
@media only screen and (max-width: 768px) {
  .secondary-menu .meals .meals-hover:hover .meals-img {
    display: block;
  }
}
.secondary-menu img {
  border-radius: 15%;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .secondary-menu img {
    border-radius: 15%;
    width: 100%;
    margin-top: 20px;
  }
}
.secondary-menu .meals-bttn {
  background: white;
  color: black;
  display: block;
  padding: 10px 10px;
  text-align: center;
  width: 180px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 100px);
  transition: 0.3s;
}
.secondary-menu .meals-bttn:hover {
  background-color: #fa7855;
}
@media only screen and (max-width: 768px) {
  .secondary-menu .meals-bttn {
    background: white;
    color: black;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    transition: 0.3s;
  }
  .secondary-menu .meals-bttn:hover {
    background-color: #fa7855;
  }
}

.recipes {
  position: relative;
  width: 33%;
}
@media only screen and (max-width: 768px) {
  .recipes {
    position: relative;
    width: 100%;
  }
}
.recipes .recipes-hover:hover .recipes-img {
  display: none;
}
@media only screen and (max-width: 768px) {
  .recipes .recipes-hover:hover .recipes-img {
    display: block;
  }
}
.recipes img {
  border-radius: 15%;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .recipes img {
    border-radius: 15%;
    width: 100%;
    margin-top: 20px;
  }
}
.recipes .recipes-bttn {
  background: white;
  color: black;
  display: block;
  padding: 10px 10px;
  text-align: center;
  width: 180px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 100px);
  transition: 0.3s;
}
.recipes .recipes-bttn:hover {
  background-color: #fa7855;
}
@media only screen and (max-width: 768px) {
  .recipes .recipes-bttn {
    background: white;
    color: black;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    transition: 0.3s;
  }
  .recipes .recipes-bttn:hover {
    background-color: #fa7855;
  }
}

.exotics {
  position: relative;
  width: 33%;
}
@media only screen and (max-width: 768px) {
  .exotics {
    position: relative;
    width: 100%;
  }
}
.exotics .exotics-hover:hover .exotics-img {
  display: none;
}
@media only screen and (max-width: 768px) {
  .exotics .exotics-hover:hover .exotics-img {
    display: block;
  }
}
.exotics img {
  border-radius: 15%;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .exotics img {
    border-radius: 15%;
    width: 100%;
    margin-top: 20px;
  }
}
.exotics .exotics-bttn {
  background: white;
  color: black;
  display: block;
  padding: 10px 10px;
  text-align: center;
  width: 180px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 100px);
  transition: 0.3s;
}
.exotics .exotics-bttn:hover {
  background-color: #fa7855;
}
@media only screen and (max-width: 768px) {
  .exotics .exotics-bttn {
    background: white;
    color: black;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 100px);
    transition: 0.3s;
  }
  .exotics .exotics-bttn:hover {
    background-color: #fa7855;
  }
}

.video-and-posts{
  width: 67%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .video-and-posts{
    width:90%;
  }
  .video {
    display: none;
  }
}

.epigraph {
  color: #9b9089;
  font-size: 12px;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 45px;
}

aside {
  float: right;
  max-width: 30%;
  margin: 0 0 0 1%;
}

@media only screen and (max-width: 768px) {
 aside { 
  float: initial;
  max-width: 80%;
  margin: auto;
}
}

aside .aside-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10% auto;
}
aside h3 {
  color: black;
  text-align: center;
  margin-bottom: 3px;
}
aside .about-me-info {
  color: #9b9089;
  margin: 0 5% 10% 5%;
  width: 90%;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
aside .pink-button {
  background-color: #ffdce2;
  display: block;
  font-size: 12px;
  color: black;
  line-height: 19px;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
}


.half-container {
  width: 60%;
}

.posts {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 40px 0;
}

@media only screen and (max-width: 768px) {
  .posts{
    width:90%;
  }
}

.posts .image-recipe {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .posts .image-recipe{
    display:none;
  }
  }

.posts .image-recipe img {
  width: 100%;
  border-radius: 10%;
}
.posts .text-recipe {
  width: 100%;
  margin: 0 0 0 25px;
}

@media only screen and (max-width: 768px) {
  .posts .text-recipe{
    padding-top:10px;
  }
  }

.posts .text-recipe .top-line {
  display: flex;
  width: 380px;
}

@media only screen and (max-width: 768px) {
  .posts .text-recipe .top-line{
    display:inline-flex;
    width: initial;
  }
}

.posts .text-recipe .top-line .social-post {
  margin: auto;
  font-size: 12px;
  padding: 0 0 18px 0;
  color: #9b9089;
}
.posts .text-recipe h3 {
  color: black;
  font-size: 18px;
}
.posts .text-recipe p {
  color: #9b9089;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .posts .text-recipe h3, p{
    text-align: center;
  }
  }

.posts .text-recipe .read-more {
  background-color: #ffdce2;
  font-size: 12px;
  color: black;
  line-height: 19px;
  text-align: center;
  padding: 10px 23px;
  border-radius: 10%;
}

@media only screen and (max-width: 768px) {
  .posts .text-recipe .read-more{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  }

footer {
  text-align: center;
  padding: 0 0 70px 0;
}

.social-media-footer {
  padding-bottom: 30px;
  border-bottom: 1px solid #e4dfe0;
}
.social-media-footer li {
  display: inline;
  margin-right: 7%;
  margin-left: 2%;
}

.social-media-footer li:hover {
  color: black;
}
.social-media-footer i {
  color: #9b9089;
  margin-right: 10px;
}
.social-media-footer a {
  text-decoration: none;
  color: #9b9089;
  font-size: 12px;
}
.social-media-footer a:hover {
  color: black;
}
.social-media-footer a:hover i {
  color: black;
}

@media only screen and (max-width: 768px) {
  .go-to{
    display:block;
    border-top:1px solid #999999;
    position:relative;
    width:75%;
    height: auto;
    margin-left:10%;
    bottom: 50px;
    }
    
    .fa-arrow-up{
    background-color: #dd6b4d;
    color: white;
    position: absolute;
    font-size: 25px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    left: 50%;
    bottom: -18px;
    text-align: center;
    padding-left: 5px;
    border-right-width: 5px;
    padding-right: 5px;
  }

  .icon-label{
    display:none;
  }

  .post2{
    display:none;
  }
}