* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "IBM Plex Mono", monospace; }

header {
  width: 40%;
  margin: 0 auto;
  text-align: center; }
  header .title {
    font-family: "Indie Flower", cursive;
    font-size: 35px;
    display: block;
    color: #fa7855;
    padding: 5px;
    margin: 10px 0; }

nav ul li {
  display: inline-block;
  margin: 0 25px 10px 0; }
  nav ul li a {
    color: #9b9089;
    font-size: 13px;
    transition: 0.3s; }
    nav ul li a:hover {
      color: #fa7855; }

.meal-menu .fas.fa-caret-down {
  padding: 0 0 0 10px; }
.meal-menu:hover .meal-list {
  display: block;
  z-index: 1; }

.meal-list {
  display: none;
  position: absolute;
  width: 75px;
  color: #9b9089;
  background-color: #f8f8f8;
  text-align: left;
  padding: 5px; }
  .meal-list .meal-item:hover {
    color: #fa7855; }

.carrousel {
  display: flex;
  justify-content: space-between; }

.first-recipe {
  width: 300px;
  height: 450px;
  position: relative; }
  .first-recipe .hover-info {
    transition: all 0.5s ease-in-out; }
  .first-recipe .img-1-details {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
    top: 65%; }
    .first-recipe .img-1-details .info {
      font-size: 10px;
      padding: 15px 0 15px 0; }
      .first-recipe .img-1-details .info span {
        border-right: solid 1px white;
        padding-right: 10px;
        margin-right: 5px; }
  .first-recipe:hover .img-1-details {
    display: block; }

.second-recipe {
  width: 300px;
  height: 450px;
  position: relative; }
  .second-recipe .img-2-details {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
    top: 65%; }
    .second-recipe .img-2-details .info {
      font-size: 10px;
      padding: 15px 0 15px 0; }
      .second-recipe .img-2-details .info span {
        border-right: solid 1px white;
        padding-right: 10px;
        margin-right: 5px; }
  .second-recipe:hover .img-2-details {
    display: block; }

.third-recipe {
  width: 300px;
  height: 450px;
  position: relative; }
  .third-recipe .img-3-details {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
    top: 65%; }
    .third-recipe .img-3-details .info {
      font-size: 10px;
      padding: 15px 0 15px 0; }
      .third-recipe .img-3-details .info span {
        border-right: solid 1px white;
        padding-right: 10px;
        margin-right: 5px; }
  .third-recipe:hover .img-3-details {
    display: block; }

.fourth-recipe {
  width: 300px;
  height: 450px;
  position: relative; }
  .fourth-recipe .img-4-details {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(239, 4, 4, 0.4);
    color: white;
    padding: 20px;
    top: 65%; }
    .fourth-recipe .img-4-details .info {
      font-size: 10px;
      padding: 15px 0 15px 0; }
      .fourth-recipe .img-4-details .info span {
        border-right: solid 1px white;
        padding-right: 10px;
        margin-right: 5px; }
  .fourth-recipe:hover .img-4-details {
    display: block; }

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0; }

.secondary-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .secondary-menu .meals {
    position: relative;
    width: 33%; }
    .secondary-menu .meals img {
      border-radius: 15%; }
    .secondary-menu .meals .meals-bttn {
      background: white;
      color: black;
      display: block;
      padding: 10px 10px;
      text-align: center;
      width: 180px;
      border-radius: 20px;
      position: absolute;
      top: calc(50% - 21px);
      left: calc(50% - 100px);
      transition: 0.3s; }
      .secondary-menu .meals .meals-bttn:hover {
        background-color: #fa7855; }
  .secondary-menu .recipes {
    position: relative;
    width: 33%; }
    .secondary-menu .recipes img {
      border-radius: 15%; }
    .secondary-menu .recipes .recipes-bttn {
      background: white;
      color: black;
      display: block;
      padding: 10px 10px;
      text-align: center;
      width: 180px;
      border-radius: 20px;
      position: absolute;
      top: calc(50% - 21px);
      left: calc(50% - 100px);
      transition: 0.3s; }
      .secondary-menu .recipes .recipes-bttn:hover {
        background-color: #fa7855; }
  .secondary-menu .exotics {
    position: relative;
    width: 33%; }
    .secondary-menu .exotics img {
      border-radius: 15%; }
    .secondary-menu .exotics .exotics-bttn {
      background: white;
      color: black;
      display: block;
      padding: 10px 10px;
      text-align: center;
      width: 180px;
      border-radius: 20px;
      position: absolute;
      top: calc(50% - 21px);
      left: calc(50% - 100px);
      transition: 0.3s; }
      .secondary-menu .exotics .exotics-bttn:hover {
        background-color: #fa7855; }
